<button class="btn btn-outline-success" (click)="addAuto()">
  <i class="fas fa-car"></i>
  LLEGA AUTO
</button>

<h2>Información del automovil</h2>

<div class="alert alert-danger mt-1" role="alert" *ngIf="automoviles.length === 0">
  No hay autos aún.
</div>

<div id="automoviles" class="mt-2">
  <ngb-tabset type="pills">
    <ngb-tab *ngFor="let auto of automoviles" [title]="auto.clave">
      <ng-template ngbTabContent>
        <div class="alert alert-warning mt-1" role="alert" *ngIf="auto.salida != null">
          El auto ya salió del estacionamiento
        </div>

        <pre>{{ auto | json }}</pre>
        <hr>

        <app-panel-estacionamiento-auto [auto]=auto (autoActualizado)="actualizaAutomoviles($event)"></app-panel-estacionamiento-auto>
        
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>