#panel-estacionamiento-auto {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 30px;
}

.cajon {
    cursor: pointer;
    border-width: 5px;

    &.seleccionado {
        border-color: #22db4d !important;
    }

    &.ocupado {
        background: #585858;
        border-color: #585858;
        color: #fff;
    }

    &.asignado {
        background: #ffc107;
        border-color: #ffc107;
        color: #fff;
    }
}