<h3>No. de autos: {{automoviles.length}}</h3>

<div *ngFor="let auto of automoviles">
  <div id="paleta-indicadores">
    <div>
      <span class="indicador disponible"></span>
      <p>Cajón de estacionamiento disponible.</p>
    </div>

    <div>
      <span class="indicador asignado"></span>
      <p>Cajón automaticamente asignado.</p>
    </div>

    <div>
      <span class="indicador ocupado"></span>
      <p>Cajón ocupado. No se puede seleccionar.</p>
    </div>

    <div>
      <span class="indicador ocupadoAuto"></span>
      <p>Cajón actualmente usado.</p>
    </div>
  </div>

  <div id="panel-estacionamiento-auto" class="mb-2">
    <div *ngFor="let cajon of estacionamiento" class="cajon btn btn-info"
      [class.asignado]="cajon.clave === auto.cajonAsignado" [ngClass]="{
                                      'seleccionado': cajon.estatus === 'seleccionado',
                                      'ocupado': cajon.estatus === 'ocupado',
                                      'ocupadoAuto': cajon.ocupante === auto.clave
                                  }">
      {{ cajon.clave }}
    </div>
  </div>

  <hr class="mb-2">
</div>