<h3>No. de autos: {{automoviles.length}}</h3>

<div class="timer">
  <span>
    CRONOMETRO<br>
    <strong>{{cronometro}}</strong>
  </span>
</div>

<div *ngFor="let auto of automoviles">
  <hr class="mb-2">
  <h4>{{ auto.clave }}</h4>

  <div id="panel-estacionamiento-auto" class="mb-2">
    <div *ngFor="let cajon of estacionamiento" class="cajon btn btn-info" [ngClass]="{
        'seleccionado': cajon.estatus === 'seleccionado',
        'ocupado': cajon.estatus === 'ocupado',
        'ocupadoAuto': cajon.ocupante === auto.clave
      }">
      {{ cajon.clave }}
    </div>
  </div>

  <hr class="mb-2">
</div>