<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Administrar carrito</a>
</nav>

<div class="container mt-5 mb-5">
  <!-- <app-control-auto></app-control-auto> -->
</div>

<footer class="fixed-bottom bg-dark mt-5 text-right">
  <i class="fas fa-circle" [ngClass]="_webSocket.socketConectado ? 'text-success' : 'text-danger'"></i>

  Servidor
  <span *ngIf="_webSocket.socketConectado">Conectado</span>
  <span *ngIf="!_webSocket.socketConectado">Desconectado</span>
</footer>