<div id="sidebar">
  <ul>
    <li routerLinkActive="active">
      <p>Run-Run-Matico</p>
      <a href="javascript:void(0)">
        {{ templateService.vistaTemplate | async }}
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/panel-estacionamiento">
        Estacionamiento
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/control-automovil-cronometrado">
        Control de Automovil Autonomo
      </a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/control-automovil-manual">
        Control de Automovil Manual
      </a>
    </li>

    <li>
      <a href="javascript:void(0)" (click)="reiniciaData()">
        Reiniciar data
      </a>
    </li>
  </ul>
</div>